*{
    margin: 0px 0px;
    padding: 0px 0px;
}
body{
    font-family: sans-serif;
    display: flex;
}
.Table{
     width:30%;
     height:1000px;
     border-right:3px solid rgb(10, 0, 0);
     margin-left:5%;
}

h2{
    margin-left:25%;
    
}

.Menu{
    margin-left: 10px;
    width: 100%;

}
input{
    height:50px;
    width: 70%;
    border:0px;
    border-radius: 4px;
    margin: 40px 10px;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.3);
}
.fooditems{
    height: 80px;
    border-radius: 7px;
    margin-top: 2%;
    padding: 4px;
    line-height: 30px;
}
.fooditems:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.3);
}
.tables{
    height:150px;
    width: 75%;
    margin-left: 4px;
    text-align: center;
}
.tableContent{
    display:flex;
    margin:10px;
    padding:10px;
    line-height: 200%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.3);
    border-radius: 4px 4px;
}
.tableContent:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.74);
}
.tableContent p{
    padding-left: 10px;

}
.dragging{
    opacity: 0.1;
}
.selected{
    background-color: rgb(204, 132, 25);
}
.header{
    position: sticky;
    top:0;
}
.popcontent{
    /* border: 2px solid black; */
    width:40%;
    position: fixed;
    top:25%;
    left:30%;
    height:50%;
    background: white;
    border-radius: 4px;
    box-shadow: 4px 3px black ;
    display:none;
    overflow-x: hidden;
    overflow-y:scroll;
}
.popcontent::-webkit-scrollbar{
    display: none;
}

.popcontent h3{
    background-color: #163bb8d7;
    padding-left: 20px;
    color:white;
    line-height: 300%;
    font-weight: 200;
    
}
#closebtn{
    font-size: larger;
    width:20px;
    float:right;
    padding:2px;
    margin: 2% auto;
    margin-right:2%;
    border-radius: 10px 10px;
    color:white;
    background:#1944d3d7;
    border:0px;
}
table{
    margin:4px 4px;
    width: 100%;
    
}
 td,th{
    /* border:2px solid black; */
    text-align: center;
    margin:2%;
    width:20%;
}
td img{
   
}
.generateBill{
    float: right;
    font-weight: 900;
    margin-top:7%;
    margin-right: 20px;
    padding:4px;
    border-radius: 7px;
    background-color: white;
    border:0px;
    height:30px;
}
.generateBill:hover{
    box-shadow: 2px 2px 2px grey;
}
